/* ------------ VazirMatn ----------------- */
@font-face {
    font-family: "vazirmatn";
    src: url("../../public/fonts/Vazirmatn-Regular.ttf");
    font-weight: 400;
    font-display: fallback;
}
@font-face {
    font-family: "vazirmatn";
    src: url("../../public/fonts/Vazirmatn-Medium.ttf");
    font-weight: 500;
    font-display: fallback;
}
@font-face {
    font-family: "vazirmatn";
    src: url("../../public/fonts/Vazirmatn-Bold.ttf");
    font-weight: 700;
    font-display: fallback;
}
