html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.swiper-pagination-bullet {
  background: darkorange !important;
}

@layer base {
  [data-nextjs-scroll-focus-boundary] {
    display: contents;
  }
}